MFP_API_KEY=fp_test_replace_me
MFP_ACCOUNT_ID=replace_me
MFP_BASE_URL=https://sandbox.myfundedperpetuals.com
MFP_WS_URL=wss://api-stream.myfundedperpetuals.com/v1/market-data
MFP_LIVE_TRADING=false
MFP_SYMBOLS=BTCUSDT,ETHUSDT
MFP_PROVIDER=binance
MFP_RISK_PER_TRADE_USD=5
MFP_MAX_RISK_PER_TRADE_USD=7.5
MFP_DAILY_STOP_USD=15
MFP_EMERGENCY_EQUITY=2440
MFP_MLL_FLOOR=2425
MFP_PROFIT_TARGET=2725
MFP_FAST_TF=15m
MFP_TREND_TF=1h
MFP_RR=1.8
